<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form" 
                  autocomplete="off"
                  [formGroup]="loginForm"
                  (ngSubmit)="login()">
                <div class="card-body align-items-center text-center">
                    <img src="../../../../assets/images/logo.png" width="75" alt="Mocteversity">
                </div>
                <span class="login100-form-title p-b-49">
                    Iniciar Sesión
                </span>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Email</span>
                    <input class="input100"
                           type="text" 
                           formControlName="email"
                           placeholder="Ingrese su email">
                    <span class="focus-input100"></span>
                </div>
                <span *ngIf="validatePass('email')">Campo obligatorio y debe tener formato de correo.</span>

                <div class="wrap-input100">
                    <span class="label-input100">Contraseña</span>
                    <input class="input100"
                           type="password"
                           formControlName="password"
                           placeholder="Ingrese su contraseña">
                    <span class="focus-input100"></span>
                </div>
                <span *ngIf="validatePass('password')">Campo obligatorio y mínimo 4 caracteres.</span>
                
                <div class="text-right p-t-8 p-b-31"></div>
                
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn"
                                type="submit"
                                [disabled]="loginForm.invalid">
                            Iniciar Sesión
                        </button>
                    </div>
                </div>
            </form>
            <div>
                Email: user1@coderhouse.com
        Password: "1234"
        
        Email: user2@coderhouse.com
        Password: "1234"
        
        Email: user3@coderhouse.com
        Password: "1234"
            </div>
        </div>
    </div>
    
</div>