<h1 mat-dialog-title *ngIf="movType==='add'">Registrar Alumno</h1>
<h1 mat-dialog-title *ngIf="movType==='edit'">Modificar Alumno</h1>
<div mat-dialog-content>
    <form [formGroup]="formulario">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName = "firstName" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input formControlName = "lastName" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Perfil</mat-label>
            <input formControlName = "profile" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Sexo</mat-label>
            <input formControlName = "gender" matInput>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cerrar</button>
    <button mat-button (click)="updateStudent()" *ngIf="movType==='edit'">Actualizar</button>
    <button mat-button (click)="addStudent()" *ngIf="movType==='add'">Agregar</button>
</div>