<h1 mat-dialog-title *ngIf="movType==='add'">Registrar Alumno</h1>
<h1 mat-dialog-title *ngIf="movType==='edit'">Modificar Alumno</h1>
<div mat-dialog-content>
    <form [formGroup]="formulario">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName = "firstName" matInput>
        </mat-form-field>
        <span *ngIf="validateField('firstName')">Campo obligatorio y mínimo 2 caracteres.</span>
        <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input formControlName = "lastName" matInput>
        </mat-form-field>
        <span *ngIf="validateField('lastName')">Campo obligatorio y mínimo 2 caracteres.</span>
        <mat-form-field appearance="fill">
            <mat-label>Perfil</mat-label>
                <mat-select formControlName="profile">
                <mat-option *ngFor="let alumn of alumns" [value]="alumn.value">
                    {{alumn.viewValue}}
                </mat-option>
            </mat-select>
            <!-- <mat-label>Perfil</mat-label>
            <input formControlName = "profile" matInput> -->
        </mat-form-field>
        <span *ngIf="validateField('profile')">Campo obligatorio y mínimo 2 caracteres.</span>
        <mat-form-field appearance="fill">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="gender">
                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                    {{gender.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span *ngIf="validateField('gender')">Campo obligatorio y mínimo 2 caracteres.</span>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cerrar</button>
    <button mat-button [disabled]="formulario.invalid" (click)="updateStudent()" *ngIf="movType==='edit'">Actualizar</button>
    <button mat-button [disabled]="formulario.invalid" (click)="addStudent()" *ngIf="movType==='add'">Agregar</button>
</div>