mat-card { margin: 10px; padding: 10px;}
.hr { display: block; height: 1px;
    border: 0; border-top: 1px solid rgba(255, 255, 255, 0);
}

/* Desafio 2 */
.texto-error {
    color: red;
}

.texto-exito {
    color: green;
}

.texto-it {
    color: rgb(38, 0, 255);
}

.texto-otro {
    color: rgb(128, 0, 102);
}