<h1><mat-icon mat-list-icon>developer_mode</mat-icon> Desafios</h1>
<hr>
<div class="mat-elevation-z8">
    <hr class="hr">
    <!-- Desafio 1 -->
    <mat-card>
        <mat-card-title>Desafio 1</mat-card-title>
        <!-- <mat-card-subtitle>Integrando conocimientos.</mat-card-subtitle> -->
        <img src="../../../../assets/images/d1.png" width="50%" alt="Desafio 1">
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="gotToURL('https://github.com/ramiromoctezuma/CoderHouse/tree/main/CLase%202%20-%20Componentes/ramiroMoctezumaDesafio1')">IR</button>
        </mat-card-actions>
    </mat-card>
    <!-- Desafio 2 -->
    <mat-card>
        <mat-card-title>Desafio 2</mat-card-title>
        <!-- <mat-card-subtitle>Lista de Alumnos.</mat-card-subtitle> -->
        <img src="../../../../assets/images/d2.png" width="50%" alt="Desafio 2">
        <hr>
        <h3 class="p-3 text-center">Alumnos</h3>
        <div *ngIf="students.length===0 else divDesafio2">
            <p>No hay Alumnos</p>
        </div>
        <ng-template style="max-width: 650px; overflow-x: auto; white-space: nowrap;" #divDesafio2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nombre:</th>
                        <th>Perfil</th>
                        <th>Sexo</th>
                    </tr>
                </thead>
                <tbody appDirectivaPersonalizada>
                    <tr *ngFor="let student of students">
                        <td [ngClass]="student.name.firstName != 'Juan' ? 'texto-error' : 'texto-exito'">{{student.name}}</td>
                        <td [ngClass]="student.profile != 'IT' ? 'texto-otro' : 'texto-it'">{{student.profile}}</td>
                        <td>{{student.gender}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
        <h3 [ngClass]="variable1 < 5 ? 'texto-error' : 'texto-exito'">Valor de la variable: {{ variable1 }} | {{ auth.name }}</h3>
    </mat-card>
    <!-- Desafio 3 -->
    <mat-card> 
        <mat-card-title>Desafio 3</mat-card-title>
        <!-- <mat-card-subtitle>Integrando conocimientos.</mat-card-subtitle> -->
        <img src="../../../../assets/images/d3.png" width="50%" alt="Desafio 3">
        <br>
        <h2>Favor de revisar el módulo del login..</h2>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="gotToURL('http://localhost:4200/auth/login')">IR</button>
        </mat-card-actions>
    </mat-card>
    <!-- Desafio 4 -->
    <mat-card> 
        <mat-card-title>Desafio 4</mat-card-title>
        <!-- <mat-card-subtitle>Integrando conocimientos.</mat-card-subtitle> -->
        <img src="../../../../assets/images/d4_1.jpg" width="50%" alt="Desafio 4">
        <img src="../../../../assets/images/d4_2.jpg" width="50%" alt="Desafio 4">
        <br>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="gotToURL('https://github.com/ramiromoctezuma/CoderHouse/tree/main/Final/AdminOfCoursesAndAlumnsApp')">IR</button>
        </mat-card-actions>
    </mat-card>
    <!-- Desafio 5 -->
    <mat-card> 
        <mat-card-title>Desafio 5</mat-card-title>
        <!-- <mat-card-subtitle>Integrando conocimientos.</mat-card-subtitle> -->
        <img src="../../../../assets/images/d5.jpg" width="50%" alt="Desafio 5">
        <br>
        <pre>{{ student$ | async | json }}</pre>

        <button mat-raised-button color="primary" (click)='tryPromise()'>Probar Promise</button>
        <mat-card-actions align="end">
            <!-- <button mat-raised-button color="primary" (click)="gotToURL('https://github.com/ramiromoctezuma/CoderHouse/tree/main/Final/AdminOfCoursesAndAlumnsApp')">IR</button> -->
        </mat-card-actions>
    </mat-card>
    <hr class="hr">
</div>
