<h1 mat-dialog-title>Modificar Usuario</h1>
<div mat-dialog-content>
    <form [formGroup]="formulario">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName = "name" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName = "email" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input formControlName = "password" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Dirección</mat-label>
            <input formControlName = "address" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input formControlName = "phone" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Perfil</mat-label>
            <input formControlName = "profile" matInput>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cerrar</button>
    <button mat-button (click)="updateUser()" *ngIf="movType==='edit'">Actualizar</button>
    <button mat-button (click)="addUser()" *ngIf="movType==='add'">Agregar</button>
</div>