<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>menu_open</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="userlist"
               (click)="sidenav.toggle()"
               mat-list-item>
               <mat-icon mat-list-icon>person</mat-icon>
                <span>Usuarios</span>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a routerLink="listrancho"
               (click)="sidenav.toggle()"
               mat-list-item>
               <mat-icon  mat-list-icon>supervised_user_circle</mat-icon>
                <span>Alumnos</span>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a routerLink="listdepartamento"
               (click)="sidenav.toggle()"
               mat-list-item>
               <mat-icon  mat-list-icon>school</mat-icon>
                <span>Cursos</span>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a routerLink="listpuesto"
               (click)="sidenav.toggle()"
               mat-list-item>
               <mat-icon  mat-list-icon>drive_file_rename_outline</mat-icon>
                <span>Inscripciones</span>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a routerLink="desafio"
               (click)="sidenav.toggle()"
               mat-list-item>
               <mat-icon  mat-list-icon>developer_mode</mat-icon>
                <span>Desafios</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary">
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <span>Bienvenido {{auth.name}}</span>

        <button mat-icon-button style="margin-left:20px; margin-right:10px"
                (click)="logout()">
            <mat-icon>logout</mat-icon> Salir
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>